<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Poseidon</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

<div th:insert="navbar">...</div>
    		<div style="padding-bottom: 100px">
     <div class="container my-5 ">
        <div class="card bg-light" >
        <div class= "card-header">
        <h3 > Agregar Categoria</h3>
        </div>
        
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/categoria/savecategoriasucces}" th:object="${categoria}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                            <input type="hidden" th:field="*{id}" name="id" id="id">
                                <label for="nombreCategoria" class="col-form-label" style="font-weight: 600;">Nombre Categoria</label> 
                                <input type="text" th:field="*{nombreCategoria}" class="form-control" id="nombreCategoria" required> 
                                <span th:if="${#fields.hasErrors('nombreCategoria')}" th:errors="*{nombreCategoria}" class="text-danger"></span>
                            </div>
                            

                            
                            <div class="col-md-6" style="margin-left: 60%;"  >
                            
                            	<input style="float: right;"  type="submit" class="btn btn-success" value="Guardar">
                                <a style="float: right;margin-right: 10px;" href="/categoria/" class="btn btn-secondary" > Cancelar </a>
                                
                            </div>



                        </div>
                    </form></div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="footer"></div>
</body>

</html>