<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Agregar Categoria</title>
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

<div th:insert="navbar">...</div>
    <div class="container my-5">
        <h3> Añadir Categoria</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/categoria/savecategoriasucces}" th:object="${categoria}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="nombreCategoria" class="col-form-label">Categoria</label> 
                                <input type="text" th:field="*{nombreCategoria}" class="form-control" id="nombreCategoria" placeholder="Mariscos, Pescados"> 
                                <span th:if="${#fields.hasErrors('nombreCategoria')}" th:errors="*{nombreCategoria}" class="text-danger"></span>
                            </div>
                            

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Añadir Categoria">
                            </div>
                            
                            <div class="col-md-6">
                                <a  href="/categoria/" class="btn btn-danger" > Cancelar </a>
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="footer"></div>
</body>

</html>