<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Poseidon</title>
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

	<div th:insert="navbar">...</div>
	<div class="container my-5">
		<h3>Añadir Producto</h3>
		<div>
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/producto/saveproductosucces}"
						th:object="${producto}" method="post"
						enctype="multipart/form-data">


						<div class="col-sm-6" style="padding-left: inherit">
							<label for="Categoria" class="col-form-label">Categoria</label>

						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<input type="hidden" th:field="*{id}" name="id" id="id">
								<label for="nombreCategoria" class="col-form-label">Producto</label>
								<input type="text" th:field="*{nombreProducto}"
									class="form-control" id="nombreProducto"
									placeholder="Salmon, Corvina"> <span
									th:if="${#fields.hasErrors('nombreProducto')}"
									th:errors="*{nombreProducto}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreCategoria" class="col-form-label">Cantidad
									(Kg)</label> <input type="number" th:field="*{cantidad}"
									class="form-control" id="cantidad" placeholder="10.000">
								<span th:if="${#fields.hasErrors('cantidad')}"
									th:errors="*{cantidad}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreCategoria" class="col-form-label">Valor
									($ CL)</label> <input type="number" th:field="*{valor}"
									class="form-control" id="valor" placeholder="10.000"> <span
									th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="nombreCategoria" class="col-form-label">Descripción</label>
								<input type="text" th:field="*{descripcion}"
									class="form-control" id="descripcion"
									placeholder="Empacado al vacio, cuando está congelado en cajas...">
								<span th:if="${#fields.hasErrors('descripcion')}"
									th:errors="*{descripcion}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="file" class="col-sm-2 col-form-label">Imagen</label>

								<input type="file" name="file" class="form-control">

							</div>


							<div class="col-md-6">
								<input type="submit"
									th:href="@{/categoria/listcategoria/{id}(id=${producto.categoria.id})}"
									class="btn btn-primary" value="Guardar">


							</div>

							<div class="col-md-6">
								<a
									th:href="@{/categoria/listcategoria/{id}(id=${producto.categoria.id})}"
									class="btn btn-danger"> Cancelar </a>
							</div>


						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>
</body>
</html>