<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Poseidon</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

	<div th:insert="navbar">...</div>
	
	
	
		<div style="padding-bottom: 100px">
	<div class="container my-5">
		<div class="card bg-light">
			<div class="card-header">
				<h3>Agregar Producto</h3>
			</div>
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/producto/saveproductosucces}" th:object="${producto}" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col">
								<input type="hidden" th:field="*{id}" name="id" id="id">
								<input type="hidden" th:field="*{categoria}" name="categoria" id="categoria">
								<label for="nombreCategoria" class="col-form-label"
									style="font-weight: 600;">Producto</label> <input type="text"
									th:field="*{nombreProducto}" class="form-control"
									id="nombreProducto" placeholder="Salmon, Corvina" required>
								<span th:if="${#fields.hasErrors('nombreProducto')}"
									th:errors="*{nombreProducto}" class="text-danger"></span>
							</div>
							
							<div class="col">
							
								<label for="nombreCategoria" class="col-form-label"
									style="font-weight: 600;">Cantidad (Kg)</label> <input
									type="number" th:field="*{cantidad}" class="form-control"
									id="cantidad" required> <span
									th:if="${#fields.hasErrors('cantidad')}"
									th:errors="*{cantidad}" class="text-danger"></span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="nombreCategoria" class="col-form-label"
									style="font-weight: 600;">Descripción</label> <input
									type="text" th:field="*{descripcion}" class="form-control"
									id="descripcion" required> <span
									th:if="${#fields.hasErrors('descripcion')}"
									th:errors="*{descripcion}" class="text-danger"></span>
							</div>
							<div class="col">
								<label for="nombreCategoria" class="col-form-label"
									style="font-weight: 600;">Valor ($ CL)</label> <input
									type="number" th:field="*{valor}" class="form-control"
									id="valor" placeholder="10.000" required> <span
									th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"
									class="text-danger"></span>
							</div>

						</div>
						<div class="row">
						
						<div class="col">
								<label for="file" class="col-sm-2 col-form-label"
									style="font-weight: 600; margin-left:-14px;">Imagen</label> 
							</div>
						
						</div>
						<div class="row">
						<div class="col">
						<input style="width: 415px" type="file"class="form-control" name="file" > 
						</div>
						</div>


						<div class="col-md-6" style="margin-left: 60%; margin-top: 20px;">
							<input type="submit" style="float: right;"
								th:href="@{/categoria/listcategoria/{id}(id=${producto.categoria.id})}"
								class="btn btn-success" value="Guardar"> <a
								type="submit" style="float: right; margin-right: 10px;"
								th:href="@{/categoria/listcategoria/{id}(id=${producto.categoria.id})}"
								class="btn btn-secondary">Cancelar</a>

						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>	

	<div th:insert="footer"></div>
</body>
</html>