<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidón</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" type="text/css" href="/css/aboutus.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>

	<div th:insert="navbar">...</div>

	<div class="container">
		<nav style="background-color: white; padding-left: 20px;"
			aria-label="breadcrumb">
			<!--MIGAS DE PAN-->
			<ol class="breadcrumb bg-white pl-0"
				style="padding-top: 30px; padding-bottom: 5px;">
				<li class="breadcrumb-item"><a href="/">Inicio </a></li>
				<li class="breadcrumb-item active" aria-current="page">Contacto</li>

			</ol>
		</nav>
		<!--FIN MIGAS DE PAN-->
	</div>


	<div style="padding-bottom: 100px">

		<div class="container" style="padding: 0 36px 50px 36px;">

			<div class="card" style="width: 1074px; height: 500px; border: none;">
				<h3>Contacto</h3>
				<hr>

				<div class="row main-row justify-content-center pt-5">
					<div class="col-md-10 col-lg-6 " style="padding-left: 54px;">
						<h5 align="left">Dirección</h5>
						<p align="left">Purén 960, Chillan, Chillán, Región del Bío
							Bío</p>
						<h5 align="left">E-mail</h5>
						<p align="left">ventas@poseidon.cl</p>
						<h5 align="left">Horario de atención</h5>
						<p align="left">Lunes a Viernes: 08:00-16:00 hrs</p>
						<p align="left">Sábado: 08:00-13:00 hrs</p>
						<h5 align="left">Teléfono</h5>
						<p align="left">(+56) 9 88676227</p>
					</div>

					<div class="col-md-10 col-lg-6">

						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d800.6189190202235!2d-72.100312
						4707831!3d-36.614935198749215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669282c222c370f
						%3A0xa2649c29c13c1731!2sCarvajal%20Quintana%20Maria%20Elena!5e0!3m2!1ses!2scl!4v1583115010667!5m2!1ses!2scl"
							width="400" height="300" frameborder="0" style="border: 0;"
							allowfullscreen=""></iframe>



					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:insert="footer"></div>
</body>
</html>