<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidón</title>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" type="text/css" href="/css/aboutus.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>

	<div th:insert="navbar">...</div>
	<H2 align="center"> Contacto </H2>
	<br>
	<h3 align="center">Direccion</h3>
	<p align="center"> P. Sherman, calle Wallaby, 42, Sydney</p>
	<h3 align="center">Telefono</h3>
	<p align="center"> (+56) 988676227</p>
	<h3 align="center">Horario de atencion</h3>
	<p align="center"> De lunes a viernes: 08:00-16:00 hrs</p>
	<p align="center"> Sabado:             08:00-13:00 hrs</p>
	<h3 align="center">E-mail</h3>
	<p align="center"> poseidon@peces.cl</p>
	<div class="contenedor">
	<img src="/img/contacto.jpg" alt="Imagen no disponible" class="img-thumbnail rounded turn-bottom" style="max-width: 25%; ">
	
	
	</div>
	
	
	

	
<div th:insert="footer"></div>
</body>
</html>