<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidón</title>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" type="text/css" href="/css/aboutus.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>

	<div th:insert="navbar">...</div>

	<div class="container">
		<nav style="background-color: white; padding-left: 20px;"
			aria-label="breadcrumb">
			<!--MIGAS DE PAN-->
			<ol class="breadcrumb bg-white pl-0"
				style="padding-top: 30px; padding-bottom: 5px;">
				<li class="breadcrumb-item"><a href="/">Inicio </a></li>
				<li class="breadcrumb-item active" aria-current="page">Contacto</li>

			</ol>
		</nav>
		<!--FIN MIGAS DE PAN-->
	</div>
	<div class="card">
	<div class="card-body">
		
		<br>
		<h3 align="center">Dirección</h3>
		<p align="center">P. Sherman, calle Wallaby, 42, Sydney</p>
		<h3 align="center">Teléfono</h3>
		<p align="center">(+56) 988676227</p>
		<h3 align="center">Horario de atención</h3>
		<p align="center">Lunes a Viernes: 08:00-16:00 hrs</p>
		<p align="center">Sábado: 08:00-13:00 hrs</p>
		<h3 align="center">E-mail</h3>
		<p align="center">ventas@poseidon.cl</p>
		<div class="contenedor" style="padding-bottom: 20px;">
			<img src="/img/contacto.jpg" alt="Imagen no disponible"
				class="img-thumbnail rounded turn-bottom" style="max-width: 25%;">


		</div>
</div>
	</div>





	<div th:insert="footer"></div>
</body>
</html>