
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidon</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->


<script>
	function aPDF() {
		var pdf = new jsPDF('p', 'pt', 'letter');
		source = $('#print')[0];

		specialElementHandlers = {
			'#bypassme' : function(element, renderer) {
				return true
			}
		};
		margins = {
			top : 80,
			bottom : 60,
			left : 40,
			width : 522
		};

		pdf.fromHTML(source, margins.left, // x coord
		margins.top, { // y coord
			'width' : margins.width,
			'elementHandlers' : specialElementHandlers
		},

		function(dispose) {
			pdf.save('Comprobante de compra.pdf');
		}, margins);
	}
</script>
</head>
<body>
	<div th:insert="navbar">...</div>
	
	<div class="container">
		<nav style="background-color: white; padding-left: 20px;"
			aria-label="breadcrumb">
			<!--MIGAS DE PAN-->
			<ol class="breadcrumb bg-white pl-0"
				style="padding-top: 30px; padding-bottom: 5px;">

				<li class="breadcrumb-item"><a href="/">Inicio </a></li>
				<li class="breadcrumb-item active" aria-current="page">Compra</li>
			</ol>
		</nav>
		<!--FIN MIGAS DE PAN-->
	</div>
	
<div class="container" style="padding: 0 36px 50px 36px;">

		<div class="card" style="width: 1074px; height: 500px; border: none;">
			<h3 >Compra Realizada</h3>
			<br>
			<div id="print">
			<h4 style="padding-left: 20px">Detalle de compra</h4>
			<div class="card-body">
			 <a style="float: right; margin: -10px 0 10px 0;" href="javascript:aPDF()"
								class="btn btn-danger2">Descargar comprobante</a>
			
				<table class="table table-bordered table-responsive-md table-hover">

					<thead class="thead-light">
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Valor unitario ($ CL)</th>
						<th>Valor total ($ CL)</th>

					</thead>
					<tbody>


						<tr th:each="pv: ${detalle}">

							<td th:text="${pv.producto.nombreProducto}"></td>
							<td th:text="${pv.cantidad_producto}"></td>
							<td th:text="${pv.producto.valor}"></td>
							<td th:text="${pv.subtotal}"></td>

						</tr>

						<tr >
							<td style="border-color: white !important;"></td>
							<td style="border-color: white !important;border-right: #dee2e6;"></td>
							<td colspan="1"><b>Total compra ($ CL)</b></td>
							<td th:text="${venta.total}"></td>
							
						</tr>
						<tr>
							<td style="border-color: white !important;"></td>
							<td style="border-color: white !important;border-right: #dee2e6;"></td>
							<td ><b>Fecha de emisión: </b></td>
							<td colspan="3" th:text="${venta.fecha}"></td>
							
						</tr>
					</tbody>
				</table>
				<p style="margin-left: 22%;">Poseidon © 2020</p>
			</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>

</body>
</html>