<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidón</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
</head>
<body>

	<div th:insert="navbar">...</div>

	<div class="container">
	
		<div class="row">
		
			<div class="col center">
				<a id="button" th:href="@{/producto/}" class="btn btnAgregar center">Productos</a>
			</div>
			<div class="col center">
				<a style="width: 350px" id="button" th:href="@{/aboutus/}"
					class="btn btnAgregar center">Sobre nosotros</a>
			</div>
			<div class="col center">
				<a id="button" th:href="@{/contacto/}" class="btn btnAgregar center">Contacto</a>
			</div>

		</div>

	</div>

	
	
	
	
	
	
	<div th:insert="footer"></div>

	
</body>

</html>