<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidon</title>

<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>

 <div th:insert="navbar">...</div>
 
 <div class="container">
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${categorias}" class="container my-5">
					<p class="my-5">
						<a href="/categoria/formulariocategoria" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Agregar categoria</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No hay categorias!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead class="thead-dark">
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Edit</th>
										<th>Delete</th>
										<th>Producto</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="categoria: ${categorias}">
										<td th:text="${categoria.id}"></td>
										<td th:text="${categoria.nombreCategoria}"></td>
										<td><a th:href="@{/categoria/formularioupdatecategoria/{id}(id=${categoria.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/categoria/delete/{id}(id=${categoria.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
										<td><a th:href="@{/categoria/listcategoria/{id}(id=${categoria.id})}" class="btn btn-primary">Productos</a>  </td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>		
<div th:insert="footer"></div>

</body>
</html>