<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Poseidon</title>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" type="text/css" href="/css/aboutus.css" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

<div th:insert="navbar">...</div>

	<div class="container py-4" style="width: 400px;">
	
	
		<div class="card border-primary text-center">
			<div class="card-header">
			
				<div class="card-body">
				
				
				
				
				<form th:action="@{/login}" method="post">
				<i class="fas fa-user-circle" style="font-size:7rem" ></i>
				
				<div style="text-align:left">
				
				<legend >Usuario</legend>
				<div class="form-group"  >
						<input type="text" name="username" id="username"
							class="form-control" placeholder="usuario@mail.com" autofocus required 
							style= "width: 280px" />
					</div>
				</div>
					
					<div style="text-align:left">	<legend>Password</legend>
					<div class="form-group" >
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" required style= "width: 280px"/>
					</div>
					</div>
					
				
				
					<div class="form-group col-sm-6 center">
						<input type="submit" class="btn d-flex align-items-center align-self-center btnAgregar" id="btnAgregar" role="button"
							value="Iniciar Sesion"  />
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					</form>
				</div>
			</div>
		</div>

	</div>
<div th:insert="footer">...</div>
	
</body>
</html>