<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Poseidon</title>
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>

<body>

	<div th:insert="navbar">...</div>
	<div class="container my-5">
		<h3>Registrate!</h3>
		<div>
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/registrar/register}"
						th:object="${Usuario}" method="post"
						enctype="multipart/form-data">

							<div class="form-group col-md-8">
								
								<label for="nombre" class="col-form-label">Nombre:</label>
								<input type="text" th:field="*{nombre}"
									class="form-control" id="nombre">
							</div>
							<div class="form-group col-md-8">
								<label for="apellidos" class="col-form-label">Apellidos
								</label> <input type="text" th:field="*{apellidos}"
									class="form-control" id="apellidos">
								
							</div>
							<div class="form-group col-md-8">
								<label for="password" class="col-form-label">Contraseña
									</label> <input type="password" th:field="*{password}"
									class="form-control" id="password">
							</div>
							<div class="form-group col-md-8">
								<label for="correo" class="col-form-label">Correo</label>
								<input type="text" th:field="*{correo}"
									class="form-control" id="correo">
								
							</div>
							<div class="form-group col-md-8">
								<label for="direccion" class="col-form-label">Direccion</label>
								<input type="text" th:field="*{direccion}"
									class="form-control" id="direccion">
								
							</div>
							<div class="form-group col-md-8">
								<label for="fechaNacimiento" class="col-form-label">fechaNacimiento</label>
								<input type="text" th:field="*{fechaNacimiento}"
									class="form-control" id="fechaNacimiento">
								
							</div>
							<div class="form-group col-md-8">
								<label for="run" class="col-form-label">run</label>
								<input type="text" th:field="*{run}"
									class="form-control" id="run">
								
							</div>
							<div class="form-group col-md-8">
								<label for="ciudad" class="col-form-label">ciudad</label>
								<input type="text" th:field="*{ciudad}"
									class="form-control" id="ciudad">
								
							</div>
							<div class="form-group col-md-8">
								<label for="telefono" class="col-form-label">telefono</label>
								<input type="text" th:field="*{telefono}"
									class="form-control" id="telefono">
								
							</div>


							<div class="col-md-6">
								<input type="submit"
									th:href="@{/registrar/register/{id}(id=${Usuario.id})}"
									class="btn btn-primary" value="Guardar">
</div>
</form>
							</div>

							


						</div>
					
				</div>
			</div>
		
	

	<div th:insert="footer"></div>
</body>
</html>