<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidon</title>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/verproducto.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>


	<div th:insert="navbar">...</div>
	<div style="padding-bottom: 100px">

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header">

				<h5 th:text="${producto.nombreProducto}"></h5>

			</div>
			<div class="card-body">
				<img class="img-thumbnail rounded float-left"
					style="max-width: 25%;"
					th:src="@{'/producto/uploads/' +${producto.imagen}}" alt="Imagen no encontrada" />

				<ul class="list-group">

					<label for="nombreCategoria" class="col-form-label">Valor
						($ CL)</label>
					<li class="list-group-item" th:text="'$'+${producto.valor}"></li>
					<label for="nombreCategoria" class="col-form-label">Descripción</label>
					<li class="list-group-item" th:text="${producto.descripcion}"></li>
					<label for="nombreCategoria" class="col-form-label">Cantidad
						(kg)</label>
					<li class="list-group-item" th:text="${producto.cantidad}+' Unidades '"></li>
				</ul>
				<br>
					<form th:action="@{/venta/formularioventa}" method="post">
						<div style="padding-left: 700px; padding-bottom: 5px;">
							Cantidad: <select name="cantidadproducto" id="cantidadproducto">
								<option th:each="i : ${#numbers.sequence(1,producto.cantidad)}"
									th:value="${i}" th:text="${i}" th:selected="${i==1}"></option>
							</select> <input type=hidden th:field="*{producto.id}" id="id">
							<button class="btn btn-success" style="margin: auto;"
								type="submit">Añadir al carrito</button>

						</div>
					</form>
				</div>
		</div>
	</div>
	<div style="padding-left: 800px; padding-bottom: 5px;">
		<a class="btn btn-secondary"
			th:href="@{'/categoria/listcategoria/' + ${producto.categoria.id}} "
			style="margin: auto;"> Volver a productos </a> 
			<a
			class="btn btn-secondary" th:href="@{/categoria/}"
			style="margin: auto;"> Volver a categorias </a>

	</div>
  </div>

	<div th:insert="footer"></div>


</body>
</html>