
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Poseidon</title>
<link  rel="icon"   href="/img/logotipo-color.png" type="image/png" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>

	<div th:insert="navbar">...</div>
	<div style="padding-bottom: 100px">
		<div class="container">
			<nav style="background-color: white; padding-left: 20px;"
				aria-label="breadcrumb">
				<!--MIGAS DE PAN-->
				<ol class="breadcrumb bg-white pl-0"
					style="padding-top: 30px; padding-bottom: 5px;">
					<li class="breadcrumb-item"><a href="/">Inicio </a></li>
					<li class="breadcrumb-item active" aria-current="page"><a
						href="/categoria/">Categorías</a></li>
					<li class="breadcrumb-item active" aria-current="page">Productos</li>
				</ol>
			</nav>
			<!--FIN MIGAS DE PAN-->
		</div>


		<div class="container">
			<div class="container my-2" style="padding-bottom: 20px;">


				<div class="card-body">
					<div th:switch="${productos}">

						<div
							th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
							th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
						</div>

						<div style="padding-left: 20px; padding-bottom: 25px;">
							<a sec:authorize="hasRole('ROLE_ADMIN')"
								th:href="@{'/producto/formularioproducto/' + ${categoria.id}} "
								class="btn btn-success btn-xs"><i> Agregar Producto</i></a>
						</div>

						<div>
							<h2 th:case="null">No hay Productos!</h2>
							<div th:case="*">

								<table
									class="table table-bordered table-responsive-md table-hover">
									<thead class="thead-light">
										<tr>

											<th>Producto</th>
											<th>Valor</th>
											<th>Cantidad</th>
											<th>Descripción</th>
											<th>Detalle producto</th>
											<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
											<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="producto: ${productos}">


											<td th:text="${producto.nombreProducto}"></td>
											<td th:text="${producto.valor}"></td>
											<td th:text="${producto.cantidad}"></td>
											<td th:text="${producto.descripcion}"></td>
											<td><a class="btn btn-yellow "
												th:href="@{/producto/ver/} + ${producto.id}"><i
													class="fas fa-eye" style="font-size: 20px"></i></a></td>


											<td  sec:authorize="hasRole('ROLE_ADMIN')"><a
												th:href="@{/producto/updateproducto/{id}(id=${producto.id})}"
												class="btn btn-primary"><i class="fas fa-edit"
													style="font-size: 20px"></i></a></td>
													
											<td  sec:authorize="hasRole('ROLE_ADMIN')"><a

												th:href="@{/producto/delete/{id}(id=${producto.id})}"
												class="btn btn-danger"><i class="fas fa-trash-alt"
													style="font-size: 20px"></i></a></td>


										</tr>
									</tbody>
								</table>
							</div>
							<div style="padding-left: 650px; padding-bottom: 0px;">
								<a class="btn btn-secondary" th:href="@{/categoria/}"
									style="margin: auto;"><i> Volver a categorias </i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:insert="footer"></div>
</body>
</html>