*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
	background-color: #1b5583;
}



.logo{
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	text-decoration: none;
}
.nav-links{
	display: flex;
	justify-content:space-around;
	width: 30%;
	color: white;
}
.logo a{
	color:#ffffff;
}
.logo a:hover {
    color: #ffffffd1;
    text-decoration: unset;
        text-decoration-line: unset;
        text-decoration-style: unset;
        text-decoration-color: unset;
}

.nav-links li{
	list-style:  none;

}


img {
    width: 100%;
    height: auto; 
    padding: -200px;  
}

nav .navbar-nav li a{
	 color: #ffffff!important;
}
#carouselExampleInterval{
	height:10em;
	
}
.carousel-inner img {
    width: 100%;
    max-height: 250px;
}

.carousel-inner{
 height: 225px;
}




@media screen and(max-width: 1024px){
	.nav-links{
		width: 60%;
	
	}
}
@media screen and(max-width: 768px){
	
	body{
		overflow-x: hidden; 
	
	}
	
	
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #ffffff;
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translated(100%);
	}
	.nav-links li{
		opacity: 0;
	}
	
}	
	
	